---
import '../styles/components/Features.css';
---
<section class="features">
  <div class="container">
    <div class="features-grid">
      <div class="feature-item">
        <div class="icon-container">
          <span class="material-symbols-outlined icon">lock</span>
        </div>
        <h3 class="feature-title">Higiene Impecável</h3>
        <p class="feature-desc">Tratamentos profundos que purificam, renovam e preparam sua pele para transmitir vitalidade, saúde e uma presença impecável.</p>
      </div>

      <div class="feature-item">
        <div class="icon-container">
          <span class="material-symbols-outlined icon">medical_services</span>
        </div>
        <h3 class="feature-title">Estética de Alta Performance</h3>
        <p class="feature-desc">Especialistas dedicados a lapidar seus traços, garantindo uma aparência de sucesso, alinhamento perfeito e máxima autoconfiança.</p>
      </div>

      <div class="feature-item">
        <div class="icon-container">
          <span class="material-symbols-outlined icon">diamond</span>
        </div>
        <h3 class="feature-title">Privacidade e Exclusividade</h3>
        <p class="feature-desc">Relaxe em um ambiente reservado, onde cuidamos de cada detalhe para que você saia com uma presença inesquecível e marcante.</p>
      </div>
    </div>
  </div>
</section>


