---
import '../styles/components/Header.css';
---

<header class="header">
  <div class="container header-container">
    <div class="logo">
      <img class="logo-img" src="/assets/logocavalheiros.png" alt="Logo" />
    </div>
    <nav class="nav">
      <a
        href="https://wa.me/5567991043906"
        target="_blank"
        rel="noopener noreferrer"
        class="btn-agendar">AGENDAR</a
      >
    </nav>
  </div>
</header>


