---
import '../styles/components/Hero.css';
---

<section class="hero">
  <div class="hero-bg">
    <img src="/assets/capa.jpg" alt="SPA Environment" />
    <div class="hero-overlay"></div>
  </div>

  <div class="container hero-content">
    <span class="hero-label">CAVALHEIROS SPA</span>
    <span>
      <h1 class="hero-title">SUA IMAGEM É O SEU</h1><h1
        class="hero-title"
        id="cartao-visitas"
      >
        CARTÃO DE VISITAS
      </h1>
    </span>
    <p class="hero-subtitle">
      A verdadeira beleza masculina nasce da higiene impecável e do autocuidado
      estratégico. Descubra uma experiência premium desenhada para forjar uma
      presença forte, magnética e inconfundível.
    </p>
    <a href="#servicos" class="btn-cta">VER SERVIÇOS</a>
  </div>
</section>


